.parent {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background:linear-gradient(to top,#000000, #312f2f);
    justify-content: space-around;
    position: relative;
    bottom: 0;
    max-height: 50%;
    font-family: sans-serif;
  }

  .parent .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }

  h3 {
    color: rgb(152, 154, 157);
    font-size: large;
    margin-bottom: 2rem;
  }



.button {
        text-decoration: none;
        color:rgb(203, 137, 61); 
        border: 1px solid rgb(203, 137, 61);
        border-radius: 4px;
        padding: 0.5rem;
       } 
       
.button:hover {
    background:rgb(99, 96, 96);
}
  
  .child1 {
    display: flex; 
  }
  
  .sub-div {
    padding: 10px;
    margin: 5px; 
  }

  .parent .fast-links h3 {
    margin-left: 80px;
  }

  
  .sub-div ul {
    padding: 0;
    }
    


  .sub-div ul li {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: rgb(224, 231, 243);
    padding-top: 0.5rem;
    font-size: small;
    margin-left: 80px;
  }
  
  .child2 {
    position: relative;
    height: 50px; 
    display: flex;
    align-items: center;
    justify-content: center; 
    width: inherit;
    margin-top: 10px;
  }
  
  .child2 img {
    width: 100px;
    padding: 10px 20px; 
    z-index: 1; 
    height: 80px;  
    width: auto;

  }
  
  .child2:before, .child2:after {
    content: '';
    position: absolute;
    top: 70%;
    width: 80%;
    height: 1px; 
    background-color: #555; 
    z-index: 0; 
  }
  
  .child2:before {
    left: 0;
    width: 40%;
}

.child2:after {
  width: 40%;
  right: 0;
  }
  
  .child3 p {
    color: white;
    font-size: 11px;
    margin-top: 20px; 
}

  .container-app-stores img {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around; 
    width: 130px;
    height: auto;
    margin-top: 1rem;
   }

   .top-models .div {
    display: flex;
    flex-direction: row;
}

   .top-models button {
    display: flex;
    text-align: center;
    text-decoration: none;
    color: rgb(170, 164, 164);
    background-color: rgb(0, 0, 0);
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    padding: 10px;
    width: 150px;
    height: 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

.top-models button:hover {
    background-color: rgb(33, 31, 31);
    color: white
}

  
.fast-links ul li {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: rgb(224, 231, 243);
    padding: 0;
    font-size: small;
    max-width: 80%;
    margin-bottom: 0.5rem;

}

.fast-links ul li a {
    text-decoration: none;
    color: white;
}
.fast-links ul li a:hover {
    color: rgb(168, 163, 163)
}

.social-media-icons {
    margin-top: 2rem;
}

.child3 {
    margin-top: 4rem;
    max-width: 1220px;
    text-align: center;
    margin-bottom: 1rem;
}





.child3 p {
  color: rgb(203, 137, 61);
  font-size: 11px;
  margin-top: 20px;
  transition: all 0.3s ease; 
}

.highlight {
  color: rgb(203, 137, 61) !important; 
  font-size: 16px !important; 
  transition: all 0.3s ease !important; 
  border-radius: 1em 0 1em 0;
  background-image: linear-gradient(
    -100deg,
    rgba(255, 224, 0, 0.2)20%,
    rgba(255, 224, 0, 0.3),
    rgba(255, 224, 0, 0.1)
  );
}




/*         RESPONSIVE           */


@media (max-width: 860px) {

  .child1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-div .div{
  display: flex;
  flex-direction: column;
}

.fast-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
}

.parent .fast-links h3 {
  margin-left: 0;
}

.fast-links ul li{
  margin: 0;
  padding: 5px;
  margin-left: 40px;
}


.sub-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}




